.btn {
  text-align: center;
  font-size: vwCalc(18, 13.26);
  font-weight: 400;
  padding: vwCalc(16, 13.26) vwCalc(32, 13.26);
  display: inline-block;
  border-radius: vwCalc(32, 13.26);
  @include boxShadow();
  @include transistion(0.79, 0.79, 0.15, 0.71);

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow:
      1.4px 1.4px 3.6px rgba(0, 0, 0, 0.088),
      4px 4px 10px rgba(0, 0, 0, 0.106),
      9.6px 9.6px 24.1px rgba(0, 0, 0, 0.118),
      32px 32px 80px rgba(0, 0, 0, 0.16);
    // animation: gradientFlow 2s infinite;
  }

  &--primary {
    &:is(:link, :visited) {
      color: $color-white;
      background-image: $linear-gradient;
    }
  }

  &--secondary {
    &:is(:link, :visited) {
      color: $color-primary;
      border: vwCalc(3, 13.26) solid $color-primary;
    }
  }

  &--form {
    color: $color-primary;
    border: vwCalc(3, 13.26) solid $color-primary;
    width: 100%;
    cursor: pointer;
  }
}
