.section-contact {
  padding-inline: $p-8;
  @include flex(space-between, center, vwCalc(40, 13.26));

  &__text-box {
    margin-bottom: $mb-4;
  }

  &__heading {
    margin-bottom: vwCalc(16, 13.26);
  }

  &__right {
    height: vwCalc(168, 13.26);
    aspect-ratio: 1 / 1;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
