.footer {
  position: relative;
  padding: $p-4 $p-8;
  color: $color-primary;
  @include flex(space-between, center, 0);

  &__link {
    font-size: vwCalc(14, 13.26);

    @include repsonsive(sm-desktop) {
      font-size: vwCalc(18, 13.26);
    }
  }

  &__link:is(:link, :visited),
  &__icon:is(:link, :visited) {
    color: $color-primary;
  }

  &__icon {
    font-size: vwCalc(16, 13.26);

    @include repsonsive(sm-desktop) {
      font-size: vwCalc(20, 13.26);
    }
  }

  &__center,
  &__right {
    @include flex(space-between, center, vwCalc(32, 13.26));
  }

  &::after {
    @include peReset(100%, vwCalc(1, 13.26), absolute);
    inset: 0;
    top: 0%;
    background-color: rgba($color-tertiary, 40%);
  }
}
