.nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: vwCalc(8, 13.26) $pleftRight;
  margin-bottom: vwCalc(56, 13.26);

  &__logo {
    height: vwCalc(56, 13.26);
    aspect-ratio: 1 / 1;
  }

  &__menu {
    flex: 0 1 25%;
    @include flex(space-between, center, 0);
  }

  &__hamburger {
    font-size: 2.4rem;
    color: $black;
  }

  &__search {
    flex: 1;
    padding: vwCalc(8, 13.26) vwCalc(32, 13.26);
    border-radius: vwCalc(24, 13.26);
    border: vwCalc(2, 13.26) solid rgba($black-25, 15%);
    box-shadow: 32px 32px 80px rgba(0, 0, 0, 0.16);
    font-size: vwCalc(16, 13.26);
    color: $black-75;
    @include transistion(0.79, 0.79, 0.15, 0.71);

    &::placeholder {
      font-size: vwCalc(16, 13.26);
      color: $black-25;
    }

    &:focus {
      outline: 2px solid rgba($color-primary, 75%);
      outline-offset: 2px;
    }
  }

  &__link,
  &__indicate {
    &:is(:link, :visited) {
      font-size: vwCalc(14, 13.26);
      color: $black;
    }
  }

  &__indicate {
    &:is(:link, :visited) {
      padding: vwCalc(8, 13.26) vwCalc(16, 13.26);
      border-radius: vwCalc(20, 13.26);
      color: $color-white;
    }
  }

  &__cta-box {
    @include flex(center, center, vwCalc(24, 13.26));

    .fa-magnifying-glass {
      position: absolute;
      display: inline-block;
      font-size: vwCalc(20, 13.26);
      color: $black-50;
      right: vwCalc(8, 13.26);
      top: 50%;
      transform: translate(vwCalc(-8, 13.26), -50%);
      cursor: pointer;
    }
  }

  &__search-box {
    position: relative;
  }

  // &__indicate-dot {
  //   font-size: 3.2rem;
  //   border-radius: 50%;
  // }

  &::after {
    @include peReset(100%, 0.1rem, absolute);
    inset: 0;
    top: 100%;
    background-color: rgba($color-tertiary, 40%);
  }
}
