.section-testimonials {
  text-align: center;

  &__main {
    padding-inline: $pleftRight;
  }

  &__card {
    text-align: left;
    position: relative;
    background-color: $color-white;
    @include boxShadow();
    @include flex(center, end, vwCalc(32, 13.26));
    border-radius: vwCalc(4, 13.26);

    &:first-of-type {
      grid-column: 1 / 8;
    }

    &:last-of-type {
      grid-column: 4 / -1;
    }

    .fa-solid {
      font-size: vwCalc(72, 13.26);
      position: absolute;
      color: $color-grey;
    }

    .fa-quote-right {
      bottom: $posQuote;
      right: $posQuote;
    }

    .fa-quote-left {
      top: $posQuote;
      left: $posQuote;
    }
  }

  &__img-box {
    height: vwCalc(240, 13.26);
    aspect-ratio: 1 / 1;
    display: inline-block;

    // @include repsonsive(phone) {
    //   height: vwCalc(320, 13.26);
    // }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include dropShadow();
  }

  &__card-details {
    align-self: center;

    @include flex(center, flex-start, vwCalc(32, 13.26));
    flex-direction: column;
  }

  &__text {
    display: inline-block;
    max-width: 85%;
    color: $black-75;
  }

  &__role,
  &__card-name {
    text-transform: uppercase;
  }

  &__card-name {
    color: $black;
    margin-bottom: vwCalc(8, 13.26);
  }

  &__role {
    color: $black-50;
    font-weight: 700;
  }
}
