@keyframes scrollIn {
  0% {
    transform: translateY(vwCalc(160, 13.26));
    filter: blur($blur-4);
  }

  50% {
    transform: translateY(vwCalc(80, 13.26));
    filter: blur($blur-2);
  }

  100% {
    transform: translate(0);
    filter: blur(0);
  }
}

@keyframes scrollTop {
  0% {
    bottom: vwCalc(32, 13.26);
  }

  50% {
    bottom: 50%;
  }
}

@keyframes scrollBottom {
  0% {
    top: vwCalc(120, 13.26);
  }

  50% {
    top: 50%;
  }
}

@keyframes htmlSlide {
  0% {
    top: 4.8;
    left: 42.5%;
    filter: blur($blur-4);
  }

  100% {
    top: vwCalc(-48, 13.26);
    left: 42.5%;
    filter: blur(0);
  }
}

@keyframes githubSlide {
  0% {
    bottom: vwCalc(48, 13.26);
    left: 42.5%;
    filter: blur($blur-4);
  }

  100% {
    bottom: vwCalc(-48, 13.26);
    left: 42.5%;
    filter: blur(0);
  }
}

@keyframes figmaSlide {
  0% {
    top: vwCalc(48, 13.26);
    left: 0;
    filter: blur($blur-4);
  }

  100% {
    top: vwCalc(24, 13.26);
    left: 0;
    filter: blur(0);
  }
}

@keyframes cssSlide {
  0% {
    top: vwCalc(48, 13.26);
    right: 0;
    filter: blur($blur-4);
  }

  100% {
    top: vwCalc(24, 13.26);
    right: 0;
    filter: blur(0);
  }
}

@keyframes npmSlide {
  0% {
    top: 60%;
    left: vwCalc(-32, 13.26);
    filter: blur($blur-4);
  }

  100% {
    top: 50%;
    left: vwCalc(-32, 13.26);
    filter: blur(0);
  }
}

@keyframes jsSlide {
  0% {
    top: 60%;
    right: vwCalc(-32, 13.26);
    filter: blur($blur-4);
  }

  100% {
    top: 50%;
    right: vwCalc(-32, 13.26);
    filter: blur(0);
  }
}

@keyframes gitSlide {
  0% {
    left: 0;
    bottom: vwCalc(-32, 13.26);
    filter: blur($blur-4);
  }

  100% {
    left: 0;
    bottom: 0;
    filter: blur(0);
  }
}

@keyframes sassSlide {
  0% {
    right: 0;
    bottom: vwCalc(-32, 13.26);
    filter: blur($blur-4);
  }

  100% {
    right: 0;
    bottom: 0;
    filter: blur(0);
  }
}

@keyframes blur {
  0% {
    filter: blur($blur-4);
  }

  100% {
    filter: blur(0);
  }
}

@keyframes SlideIn--1 {
  0% {
    transform: translateX(-50%);
    filter: blur($blur-4);
  }

  100% {
    transform: translate(0);
    filter: blur(0);
  }
}

@keyframes SlideIn--2 {
  0% {
    transform: translateX(50%);
    filter: blur($blur-4);
  }

  100% {
    transform: translate(0);
    filter: blur(0);
  }
}

@keyframes homeSlide--1 {
  0% {
    transform: translateX(-50%);
    filter: blur($blur-4);
  }

  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes homeSlide--2 {
  0% {
    transform: translateX(50%);
    filter: blur($blur-4);
  }

  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes float {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.05);
    opacity: 0;
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 120%;
    background-size: 220%;
  }

  50% {
    background-position: 100%;
    background-size: 160%;
  }

  100% {
    background-position: -240%;
    background-size: 220%;
  }
}

@keyframes scrollText {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes translate-Z {
  0% {
    transform: translateZ(vwCalc(-100, 13.26));
    filter: blur($blur-4);
  }

  100% {
    transform: translateZ(0);
    filter: blur(0);
  }
}
