body {
  font-family: $Nunito-Sans;
  line-height: 1.2;
  color: $black;
}

h1 {
  font-size: vwCalc(80, 13.26);

  @include repsonsive(sm-desktop) {
    font-size: vwCalc(85, 13.26);
    text-overflow: ellipsis;
  }
}

h2 {
  font-size: vwCalc(55, 13.26);
  font-weight: 500;

  @include repsonsive(sm-desktop) {
    font-size: vwCalc(60, 13.26);
    text-overflow: ellipsis;
  }
}

h3 {
  font-size: vwCalc(50, 13.26);

  @include repsonsive(sm-desktop) {
    font-size: vwCalc(55, 13.26);
    text-overflow: ellipsis;
  }
}

h4 {
  font-size: vwCalc(30, 13.26);

  @include repsonsive(sm-desktop) {
    font-size: vwCalc(35, 13.26);
    text-overflow: ellipsis;
  }
}

h5 {
  font-size: vwCalc(20, 13.26);

  @include repsonsive(sm-desktop) {
    font-size: vwCalc(25, 13.26);
    text-overflow: ellipsis;
  }
}

h6 {
  font-size: vwCalc(20, 13.26);

  @include repsonsive(sm-desktop) {
    font-size: vwCalc(25, 13.26);
    text-overflow: ellipsis;
  }
}

p {
  font-size: vwCalc(15, 13.26);
  font-family: $Nunito-Sans;
  font-weight: 500;

  @include repsonsive(sm-desktop) {
    font-size: vwCalc(20, 13.26);
    text-overflow: ellipsis;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $Hanken-Grostesk;
  display: inline-block;
}
