.link-reset:is(:link, :visited) {
  font-family: $Hanken-Grostesk;
  font-weight: 500;
  text-decoration: none;
}

.h2mb-4 {
  margin-bottom: vwCalc(40, 13.26);
}

.h2-home {
  @include gradientText();
}

.section-even {
  background-color: #ddd0fa;
}

.padTopBottom {
  padding-block: vwCalc(56, 13.26);
}
