// .body-contact {
//   background-image: linear-gradient(35deg, #fff 0, #000 50%, #000 50%);
// }

.header-contact {
  height: 100vh;
  padding-bottom: 0;

  &__main {
    @include flex(space-between, stretch, 0);
    padding-inline: vwCalc(80, 13.26);

    @include repsonsive(phone) {
      display: block;
      text-align: center;
    }
  }

  &__form {
    flex: 1;
    border: vwCalc(2, 13.26) solid rgba($color-primary, 75%);
    text-align: center;
    padding: vwCalc(16, 13.26);
    border-radius: $border-radius;
    flex-direction: column;
    @include flex(center, stretch, vwCalc(32, 13.26));
    box-shadow: 0 0 vwCalc(20, 13.26) $black-25;

    @include repsonsive(phone) {
      width: 100%;
      margin: 0 auto;
      border: none;
    }
  }

  &__form--heading {
    text-align: left;
    display: block;
  }

  textarea {
    resize: none;
    width: 100%;
    font-size: vwCalc(16, 13.26);
    text-align: left;
    padding: vwCalc(10, 13.26);
    border: vwCalc(1, 13.26) solid $black-25;
    border-radius: $border-radius;
    color: $black-50;
    @include inputShadow();

    &::placeholder {
      @include repsonsive(phone) {
        font-size: vwCalc(32, 13.26);
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__form-box {
    @include flex(space-between, center, vwCalc(24, 13.26));

    @include repsonsive(phone) {
      display: block;
    }

    .fa-solid {
      font-size: vwCalc(18, 13.26);
      color: rgba($color-primary, 75%);

      @include repsonsive(phone) {
        font-size: vwCalc(24, 13.26);
      }
    }
  }

  &__form-input-box {
    flex: 0 1 50%;
    padding: vwCalc(8, 13.26);
    color: $black-50;
    background-color: $color-white;
    @include flex(stretch, center, vwCalc(8, 13.26));
    @include inputShadow();
    border-radius: $border-radius;
  }

  &__form-input {
    font-size: vwCalc(18, 13.26);
    flex: 1;
    padding: vwCalc(8, 13.26) vwCalc(16, 13.26);
    border: 1px solid $black-25;
    border-radius: $border-radius;
    color: $black-75;

    @include repsonsive(phone) {
      display: block;
    }

    &::placeholder {
      @include repsonsive(phone) {
        font-size: vwCalc(32, 13.26);
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__form-icon-box {
    @include flex(center, center, vwCalc(16, 13.26));
  }

  &__img-box {
    // height: vwCalc(480, 13.26);
    flex: 1;
    aspect-ratio: 1 / 1;

    @include repsonsive(phone) {
      display: none;
    }
  }

  &__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include dropShadow();
  }
}
