// Header
.header-index {
  .bi-grid-3x3-gap {
    font-size: vwCalc(80, 13.26);
    @include gradientText();
    position: absolute;

    &:first-of-type {
      left: $pleftRight;
      top: vwCalc(32, 13.26);
    }

    &:last-of-type {
      right: $pleftRight;
      bottom: vwCalc(32, 13.26);
    }
  }

  &__main {
    text-align: center;
    @include flex(center, center, vwCalc(32, 13.26));
    flex-direction: column;
    will-change: transform blur;
    animation: scrollIn 2s linear forwards;
  }

  &__intro,
  &__name {
    display: block;
    text-transform: uppercase;
  }

  &__name {
    font-size: vwCalc(45, 13.26);
  }

  &__intro {
    font-size: vwCalc(15, 13.26);
    font-weight: 600;

    &:last-of-type {
      display: flex;
      justify-content: space-between;
      gap: vwCalc(15, 13.26);
      align-items: center;
    }

    span {
      background-color: $black;
      display: inline-block;
      width: vwCalc(0.2, 13.26);
      height: vwCalc(10, 13.26);
    }
  }

  &__name {
    span {
      @include gradientText();
    }
  }

  &__heading {
    max-width: 75%;

    span {
      @include gradientText();
    }
  }

  &__intro-box,
  &__text-box {
    margin: 0 auto;
    width: fit-content;
    @include flex(center, center, vwCalc(8, 13.26));
    flex-direction: column;
  }

  &__text-box {
    @include flex(center, center, vwCalc(16, 13.26));
  }

  &__details {
    max-width: 30%;
  }

  &__btn {
    @include flex(space-between, center, vwCalc(8, 13.26));
    text-transform: uppercase;
  }
}

//Works
.section-works {
  text-align: center;
  position: relative;
  padding-inline: $pleftRight;

  &__box {
    position: relative;
    height: 64vw; // As the height reduces, the width reduces. Height will adjust proportionally as the viewport width changes.
    margin-bottom: $mb-8;

    // @include repsonsive(desktop) {
    //   min-height: 120%;
    // }
  }

  &__img-box {
    &:is(:link, :visited) {
      display: inline-block;
      position: absolute;
      height: 32vw;
      aspect-ratio: 16 / 9;
      @include imgShadow();
      transition: all 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    &:hover {
      transform: scale(1.05);
      z-index: 3;
      outline-offset: vwCalc(16, 13.26);
      outline-width: vwCalc(16, 13.26);
      outline-color: rgba($color-tertiary, 50%);
      outline-style: solid;
    }

    &:hover span {
      transform: scale(1.05);
      visibility: visible;
    }

    span {
      position: absolute;
      font-size: vwCalc(16, 13.26);
      color: $black-50;
      // background-color: $color-glassmorphism;
      // outline-offset: 2rem;
      // outline-width: 2rem;
      // outline-color: $color-primary;
      // outline-style: solid;
      text-transform: uppercase;
      display: inline-block;
      // visibility: hidden;
      // @include flex(flex-end, center, 0);
      transition: all 0.15s;
      bottom: 25%;
      right: vwCalc(32, 13.26);
    }

    &--1 {
      right: 0;
      top: 0;

      span {
        bottom: 25%;
        right: 27.875%;
      }
    }

    &--2 {
      top: vwCalc(223, 13.26);
      right: $imgposleftRight;
      z-index: 1;
    }

    &--3 {
      left: 0;
      top: 18.5%;
    }

    &--4 {
      top: 50.5%;
      left: $imgposleftRight;
      z-index: 2;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.section-tools {
  position: relative;
  text-align: center;

  .fa-brands {
    font-size: vwCalc(56, 13.26);
    position: absolute;
  }

  .fa-npm {
    color: $npm;
    top: 50%;
    left: vwCalc(-32, 13.26);
    will-change: transform;
  }

  .fa-figma {
    color: $black;
    top: vwCalc(24, 13.26);
    left: 0;
  }

  .fa-css3-alt {
    color: $css;
    top: vwCalc(24, 13.26);
    right: 0;
  }

  .fa-js {
    color: $js;
    top: 50%;
    right: vwCalc(-32, 13.26);
  }

  .fa-git {
    color: $git;
    left: 0;
    bottom: 0;
  }

  .fa-sass {
    color: $sass;
    right: 0;
    bottom: 0;
  }

  .fa-html5 {
    color: $html;
    top: 0;
    left: 42.5%;
  }

  .fa-github {
    color: $github;
    bottom: vwCalc(-48, 13.26);
    left: 42.5%;
  }

  &__main {
    height: 35vw;
  }

  .img-box {
    aspect-ratio: 1 / 1;
    height: 90%;
    background-image: url(../img/me.png);
    background-size: cover;
    background-position: top;
    position: relative;
    margin-inline: auto;
    margin-top: $mb-4;
    // @include transPos(50%, 50%)

    // &::after {
    //   content: "";
    //   display: inline-block;
    //   width: 100%;
    //   height: 100%;
    //   border-radius: 50%;
    //   border: .2rem solid $color-primary;
    // }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .bi-grid-3x3-gap {
    &:first-of-type {
      animation: scrollBottom 2s linear forwards;
      animation-timeline: scroll();
    }

    &:last-of-type {
      animation: scrollTop 2s linear forwards;
      animation-timeline: scroll();
    }
  }

  .section-works {
    &__box {
      animation: scrollIn 2s linear forwards;
      animation-timeline: view();
      animation-range: 1vh 45vh;
    }
  }

  .section-tools {
    .fa-html5 {
      @include iconAniScroll(htmlSlide);
    }

    .fa-figma {
      @include iconAniScroll(figmaSlide);
    }

    .fa-css3-alt {
      @include iconAniScroll(cssSlide);
    }

    .fa-npm {
      @include iconAniScroll(npmSlide);
    }

    .fa-js {
      @include iconAniScroll(jsSlide);
    }

    .fa-git {
      @include iconAniScroll(gitSlide);
    }

    .fa-sass {
      @include iconAniScroll(sassSlide);
    }

    .fa-github {
      @include iconAniScroll(githubSlide);
    }
  }

  .section-testimonials {
    &__card {
      animation: blur 2s linear forwards;
      animation-timeline: view();
      animation-range: 1vh 45vh;
    }
  }
}
