.body-project {
  animation: translate-Z 1.5s linear;
}

.header-projects {
  &__main {
    gap: vwCalc(32, 13.26);
  }

  &__details-box {
    width: 100%;
  }

  &__heading {
    animation: gradientFlow 2s infinite;
  }

  &__cta-box,
  &__details-box {
    flex-direction: column;
    @include flex(center, center, 0);
  }

  &__cta-box {
    gap: vwCalc(16, 13.26);
  }

  &__details {
    color: $color-primary;
    letter-spacing: 2px;
  }

  &__search-box {
    @include flex(center, center, vwCalc(32, 13.26));
    width: 30%;
    perspective: vwCalc(1000, 13.26);
    transform-style: preserve-3d;

    .fa-filter {
      font-size: vwCalc(24, 13.26);
      color: $color-primary;
    }
  }

  &__search {
    flex: 1;
    padding: vwCalc(8, 13.26) vwCalc(32, 13.26);
    border-radius: vwCalc(24, 13.26);
    border: vwCalc(2, 13.26) solid rgba($black-25, 15%);
    box-shadow: 32px 32px 80px rgba(0, 0, 0, 0.16);
    font-size: vwCalc(16, 13.26);
    color: $black-75;
    @include transistion(0.79, 0.79, 0.15, 0.71);

    &::placeholder {
      font-size: vwCalc(16, 13.26);
      color: $black-25;
    }

    &:focus {
      outline: none;
      @include boxShadow();
    }
  }
}

.section-projects {
  padding-inline: $p-8;
  text-align: center;

  &__main {
    margin-bottom: $mb-4;
  }

  &__card {
    @include flex(space-between, center, vwCalc(16, 13.26));

    &:not(:last-of-type) {
      margin-bottom: vwCalc(40, 13.26);
    }

    // &:hover .section-projects__card-description {
    //   transform: translateY(0);
    //   opacity: 1;
    // }
  }

  &__card-info {
    text-align: left;
  }

  &__card-title {
    &:is(:link, :visited) {
      font-size: vwCalc(24, 13.26);
      text-transform: uppercase;
    }
  }

  &__card-title,
  &__card-skills {
    margin-bottom: vwCalc(8, 13.26);
  }

  &__card-skills {
    flex-wrap: wrap;
    @include flex(space-between, center, vwCalc(8, 13.26));

    span {
      font-size: vwCalc(15, 13.26);
      color: $black-50;
      text-transform: uppercase;
      border: 2px solid $black-5;
      padding: vwCalc(4, 13.26) vwCalc(8, 13.26);
      border-radius: vwCalc(24, 13.26);
    }
  }

  &__card-description {
    text-align: left;
    transform: translateY(100%);
    opacity: 0;
    @include transistion(0.79, 0.33, 0, 0.82);

    a {
      &:is(:link, :visited) {
        color: $color-primary;
      }
    }
  }

  &__card-sub {
    flex-direction: column;
    width: max-content;
    @include flex(stretch, flex-end, 0);
  }

  &__card-count {
    color: $color-primary;
  }

  &__card-img-box {
    width: vwCalc(640, 13.26);
    aspect-ratio: 16 / 9;
  }

  &__card-img {
    width: 100%;
    height: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .section-projects__card-description {
    animation: scrollText 2s forwards;
    animation-timeline: view();
    animation-range: 1vh 45vh;
  }
}
